#catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
    row-gap: 2rem;
    
}
#catalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalogo__option{
    font-size: 3rem;
}
.catalogo__option select{
    font-size: 3rem;
    font-weight: normal;
    max-width: 100%;
    padding: .8rem;
    border: none;
    border-bottom: .1rem solid black;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
select:active, select:focus {
    outline: none;
    box-shadow: none;
}
.catalogo__option optgroup{
    font-size: 1.5rem;
}
.catalogo__option option{
    font-size: 1.5rem;
}
.catalogo__option button{
    background-color: var(--secondary);
    color: white;
    border: none;
    cursor: pointer;
    padding: .2rem 3rem;
}
.catalogo__productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
    row-gap: 2rem;
}
.catalogo__producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    border: .1rem solid var(--secondary);
    padding: 2rem;
    flex-basis: 30%;
    gap: 2rem;
}
.catalogo__producto__content{
    width: 60%;
}
.catalogo__producto__content__img{
    width: 100%;
}
.catalogo__producto__name{
    text-transform: uppercase;
}
.catalogo__producto__price{
    font-weight: 400;
}
.catalogo__producto .button__purple{
    color: var(--secondary);
    text-transform: uppercase;
    /*Cursor*/
    cursor: pointer;
    /*Elimino bordes*/
    border: 0;
    /*Bordes redondos de 4px*/
    border-radius: .4rem;
    /*Margen laterales*/
    margin: 0 .1rem;
    /*tamaño de la fuente*/
    font-size: 1.5rem;
    /*pading vertical y horizontal*/
    padding: 1rem 2vw;
    /*Sombreado*/
    box-shadow: 0 0 2rem var(--secondaryCeroSeis);
    /*transicion*/
    transition: 0.4s;
}
.catalogo__producto .button__purple:hover{
    background-color: var(--secondary);
    color: white;
}